#Exclude all folders except Essentials
Templates/
Test_Input/
Test_Output/
GUI/
Resources/Images
Builds/
.pyupdater/
pyu-data/

#Exclude Python Cache folders
**/__pycache__

#Exclude credentials
**/credentials.json
**/credentials.py
**/credentials.ini
